@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');


.Destination {
    width: 100vw;
    /* height: 100vh; */
    background-image: url('../../assets/destination/background-destination-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12rem 2.5rem 4rem 2.5rem;
    gap: 3rem;
}

.headText {
    color: #FFF;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.headText > span {
    opacity: 0.25;
}

@media screen and (min-width: 768px) {
    .Destination {
        width: 100vw;
        height: 100vh;
        background-image: url('../../assets/destination/background-destination-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .headText {
        font-size: 2rem;
        align-self: flex-start;
    }
    
    .headText > span {
        opacity: 0.25;
    }
}

@media screen and (min-width: 1025px) {
    .Destination {
        width: 100vw;
        height: 100vh;
        background-image: url('../../assets/destination/background-destination-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 18rem 6.5rem 0 12.5rem
    }

    .Destination .headText {
        font-size: 1.9rem;
    }
}